@import "bootstrap";

html, body {
  width: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.align-center {
  align-items: center;
}

.flex-flex {
  display: flex;
}

.center-center {
  align-items: center;
  margin: auto;
}

.soft-link {
  color: black;
  text-decoration: none;

}

.soft-link:hover {
  text-decoration: underline;
}