@import "bootstrap";
$bootstrap-icons-font-src: url("bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2");
@import 'bootstrap-icons/font/bootstrap-icons.scss';

html, body {
  width: 100%;
  min-height: 100%;
}

#root {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.align-center {
  align-items: center;
}

.flex-flex {
  display: flex;
}

.center-center {
  align-items: center;
  margin: auto;
}