
[role="treeitem"] {
    color: black;
    cursor: pointer;
    font-weight: 400;
    font-size: 14px;
    user-select: none;border: 1px dashed transparent;
}

[role="treeitem"]:focus-visible {
    background-color: rgba(255,255,255,.2);
    outline: none;
}

[role="treeitem"][aria-selected="true"]:focus-visible {
    background-color: rgba(255,255,255,.4);
    outline: none;
}

[role="treeitem"]:hover {
    background-color: rgba(206, 206, 206, 0.39);
    outline: 1px solid grey;
}

[role="treeitem"][aria-selected="true"] {
    background-color: rgba(173, 216, 230, 0.39);
    outline: 1px solid grey;
}

[role="treeitem"] .will-receive-drop-item {
    background-color: rgba(173, 216, 230, 0.39);
}

.root-item {
    font-weight: 700;
}

.edit-item input {
    position: relative;
    top: -4px;
    border-radius: 0;
    width: 90%;
    margin-top: 0;
}

.edit-item .invalid-feedback {
    position: relative;
    background-color: rgba(255, 255, 255, 0.942);
    margin: 5px;
    top: -5px;
    left: -5px;
    z-index: 10000;
}

.edit-item input:focus {
    box-shadow: none;
}
    // role treeitem.edit-item / div / input 
